.experience-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.experience-card{
    width: 40%;
    padding: 0 40px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.241);

}
.name{
    font-size: 18px;
    font-weight: 600;
}