.App {
  text-align: center;
  background-color:rgb(121, 70, 70) ;
}
.custom-btn{
  margin-top: 25px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  width: 130px;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
}